div.textarea {
  border: solid 1px #ccc;
  border-radius: 4px;
  height: auto;
  line-height: 1.4;
  font-size: 14px;
  font-family: "Helvetica Neue",arial,sans-serif;
  width: 100%;
  transition: all .15s ease-in-out;
  width: 100%;
  transition: all .15s ease-in-out;
  overflow: auto;
  word-wrap: break-word;
  color: #2a2e2e;
  cursor: text;
  display: block;
  padding: 6px 10px 8px;
  min-height: 100px;
}

div.textarea:focus {
  outline:none;
  box-shadow: 0 0 8px rgba(230, 210, 180, 1);
  border-color: #aaa;
}


[contenteditable]:empty:not(:focus):before {
  color: #687a86;
  line-height: 30px;
  font-size: 18px;
  content: attr(aria-label);
  display: block; /* For Firefox */
}
